name: "Lentil Lasagne"
url: "lentil-lasagne"
notes: "Consider serving with cherry tomatoes."
source: "https://example.com/recipes/lentil-lasagne"
ingredients: [
    name: "Pepper"
,
    name: "Onions"
    quantity: "5"
,
    name: "Prepped Mozzarella"
    prep: "chopped into cubes"
,
    name: "Goat's Cheese"
    notes: "don't buy half fat"
]
method: [
    "Cook the lentils"
    "Spread the lentils between lasagne sheets"
    "Cook in the oven at 200C"
]