name: "Sauceless Lasagne"
url: "sauceless-lasagne"
ingredients: [
    name: "Lasagne Sheets"
    quantity: "100g"
,
    name: "Lentils"
    quantity: "200g"
]
method: [
    "Cook the lentils"
    "Spread the lentils between lasagne sheets"
    "Cook in the oven at 200C"
]