name: "Sauceless Lasagne"
url: "sauceless-lasagne"
ingredients: [
    "100g Lasagne Sheets"
    "200g Lentils"
]
method: [
    "Cook the lentils"
    "Spread the lentils between lasagne sheets"
    "Cook in the oven at 200C"
]